@font-face {
  font-family: "Gluten-Regular";
  src: url("fonts/Gluten-Regular.ttf");
}
body {
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
font-family: "Gluten-Regular";
text-align: center;
background-image: url("images/jr-korpa-cJljbGYLTAI-unsplash.jpg");
background-size: cover;
color: white;
}
h1 {
font-size: 3em;
text-transform: uppercase;
text-shadow: black 2px 2px;
}
h1:hover {
cursor: default;
}
.ButtonStartNewGame {
font-weight: bold;
font-size: 2em;
text-shadow: black 2px 2px;
margin-bottom: 0.5em;
}
.ButtonStartNewGame:hover {
cursor: pointer;
filter: invert(0.9);
}
.GridGame {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: minmax(100px, auto);
grid-gap: 0px;
height: 50vh;
width: 50vh;
}
.GridContainer {
display: flex;
justify-content: center;
}
#loader {
position: absolute;
top : 52%;
left: 45.5%;
zoom: 2.5;
}
.invisible {
display: none;
}
#fireworks_container {
position: absolute;
top : 30%;
left: 30%;
}
#game_message_container {
position: absolute;
top : 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
font-size: 6em;
color: #cb2121;
text-transform: uppercase;
text-shadow: black 2px 2px;
z-index: -1;
}
#game_message_container:hover {
cursor: default;
}